<div class="navbar">
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/']"><img src="/img/logo.png" alt=""></a>
    </div>

    <ul class="nav-links">
      <mat-form-field >
        <mat-label>Gestion étudiant</mat-label>
        <mat-select [(value)]="selectedOptionEt" (selectionChange)="navigaTo($event.value)">
          @for (option of optionsEtudiants; track option) {
            <mat-option [value]="option.link">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Gestion enseignant</mat-label>
        <mat-select [(value)]="selectedOptionEs" (selectionChange)="navigaTo($event.value)">
          @for (option of optionsEnseignants; track option) {
            <mat-option [value]="option.link">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Gestion paiements</mat-label>
        <mat-select [(value)]="selectedOptionPm" (selectionChange)="navigaTo($event.value)">
          @for (option of optionsPaiement; track option) {
            <mat-option [value]="option.link">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
       <mat-form-field >
        <mat-label>Gestion Notes</mat-label>
        <mat-select [(value)]="selectedOptionEt" (selectionChange)="navigaTo($event.value)">
          @for (option of optionsNotes; track option) {
            <mat-option [value]="option.link">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Documents</mat-label>
        <mat-select [(value)]="selectedOptionDc" (selectionChange)="navigaTo($event.value)">
          @for (option of optionsDocuments; track option) {
            <mat-option [value]="option.link">{{ option.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Menu À propos -->
      <mat-form-field >
        <mat-label>À propos</mat-label>
        <mat-select (selectionChange)="navigaTo($event.value)">
          @for (group of aproposOptions; track group.label) {
            <mat-optgroup [label]="group.label">
              @for (option of group.children; track option.label) {
                <mat-option [value]="option.link">{{ option.label }}</mat-option>
              }
            </mat-optgroup>
          }
        </mat-select>
      </mat-form-field>
    </ul>
  </div>
</div>
