<div class="navbar">
    <div class="container">
      <div class="logo">
        <a [routerLink]="['/']">Gestion Étudiants</a>
      </div>
      <ul class="nav-links">
        <li><a [routerLink]="['/students']">Liste des étudinats</a></li>
        <li><a [routerLink]="['/students/form']">Ajouter un Etudiant</a></li>
        <li><a [routerLink]="['/students/fiche']">Fiche Etudiant</a></li>
        <li><a [routerLink]="['/students/paiment']">Paiment Etudiant</a></li>
      </ul>
    </div>
  </div>