.navbar{
    background-color: #4fc3f7;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container{
    display: flex;
    justify-content: space-between;
   
    margin: 0 auto;
}
.logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-right: 20px;
}
.logo a:hover{
    color: #ffcc00;
}
.nav-links{
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links mat-form-field{
    margin-right: 10px;
}



.nav-links mat-select{
    background-color: transparent;
    border-radius: 5px;
    font-size: 0.95rem;
    height: 15px;
}
