
<div class="fiche-etudiant" >
    <div class="fiche-header">
        <h2>Fiche de renseignement personnels</h2>
        <div class="img-etudiant">
            <img src="/img/photo.jpg" alt="image">
        </div>
    </div>
    <div class="renseignement">
        <div class="rens">
            <h4>Nom ,Prenom</h4>
            <p></p>
        </div>
        <div class="rens">
            <h4>Date de Naissance</h4>
            <p></p>
        </div>
        <div class="rens">
            <h4>Lieu de Naissance</h4>
            <p></p>
        </div>
        <div class="rens">
            <h4>Nationalite</h4>
            <p></p>
            
        </div>
        <div class="rens">
            <h4>Niveau</h4>
            <p></p>
        </div>
        <div class="rens">
            <h4>Spécialite</h4>
            <p></p>
        </div>
        <div class="rens">
            <h4>Session</h4>
            <p></p>
        </div>
        <div class="rens">
            <h4>Date d'insecription</h4>
            <p></p>
        </div>
    </div>
    <div class="fiche-bottom">
        <h4>Date et Signature</h4>
        <p>   /   /  </p>
    </div>
   
    
</div>
